* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.content__footer_head {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.content__footer_foot {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}